:root {
  --cubeSize: 250px;
  --cubeHalf: 125px;
}

.btns {
  z-index: 9999;
  position: relative;
  top: 0;
}

.cube-text-wrapper {
  padding: 3px;
  border-radius: 5px;
}

.scene {
  height: var(--cubeSize);
  width: var(--cubeSize);
  perspective: 1200px;
  position: relative;
}

.scene::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 120%;
  border-radius: 40%;
  transform: rotateX(-78deg) translateY(105px) translateZ(150px);
  background: linear-gradient(to bottom left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%);
  bottom: -15%;
  left: -5%;
  z-index: -1;
  box-shadow:
    -5px 5px 15px rgba(0, 0, 0, 0.15),
    0 1px 10px rgba(0, 0, 0, 0.1);
}

.scale {
  animation: switch 1s ease-out;
}

.cube {
  width: var(--cubeSize);
  height: var(--cubeSize);
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(var(--cubeHalf));
  transition: all 1000ms;
  top: 0;
}

.cube__face {
  position: absolute;
  width: var(--cubeSize);
  height: var(--cubeSize);
  border: 3px solid;
  /* border: 1px solid var(--colorTwo); */
  /* border: 2px solid #5a7a89; This is a color from the "Deep Blue Sea" gradient for example. */
  /* border-color: #161f2a;  Darkened version of #1f2c37 */
  box-shadow:
    -1px -1px 0px #2e4456,
    1px 1px 0px #0e1925;

  border-top-color: #293741;
  border-left-color: #293741;
  border-bottom-color: #161f2a;
  border-right-color: #161f2a;

  /* border-radius: 3px; */
  line-height: var(--cubeSize);
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  overflow: hidden;
  transition: all 1000ms;
}


.cube.show-front {
  transform: translateZ(var(--cubeHalf)) rotateY(0deg);
}

.cube.show-right {
  transform: translateZ(var(--cubeHalf)) rotateY(-90deg);
}

.cube.show-back {
  transform: translateZ(var(--cubeHalf)) rotateY(-180deg);
}

.cube.show-left {
  transform: translateZ(var(--cubeHalf)) rotateY(90deg);
}

.cube.show-top {
  transform: translateZ(var(--cubeHalf)) rotateX(-90deg);
}

.cube.show-bottom {
  transform: translateZ(var(--cubeHalf)) rotateX(90deg);
}

.cube__face--right {
  background: linear-gradient(to bottom,
      #1f2c37,
      #3a4a58,
      #5a7a89);

}

.cube__face--front {
  background: linear-gradient(to bottom,
      #1f2c37,
      #3b4450,
      #808b97);

}

.cube__face--back {
  background: linear-gradient(to bottom,
      #1f2c37,
      #3b3e50,
      #73678a);
}

.cube__face--left {
  background: linear-gradient(to bottom,
      #1f2c37,
      #2c3c55,
      #4162a1);

}

.cube__face--top {
  background: linear-gradient(to bottom,
      #1f2c37,
      #3d424f,
      #886870);

}

.cube__face--bottom {
  background: linear-gradient(to bottom,
      #1f2c37,
      #354855,
      #5a8aa1);

}

.cube__face--front {
  transform: rotateY(0deg) translateZ(var(--cubeHalf));
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(var(--cubeHalf));
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(var(--cubeHalf));
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(var(--cubeHalf));
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(var(--cubeHalf));
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(var(--cubeHalf));
}

@keyframes switch {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}