.landing-main {
    height: 100svh;
    width: 100svw;
    max-height: 2300px;
    background: linear-gradient(0deg, #21303d 40%, #38576c 90%);
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-container {
    position: relative;
    height: 100svh;
    max-height: 2300px;
    width: 100svw;
    background-image: url(../static/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 6;
}

.nav-projects {
    top: 12.2%;
    transform: translateX(-16svh);
    padding: 6.7svh;
}

.nav-page3 {
    top: 4.4%;
    transform: translateX(-6svh);
    padding: 5.3svh;
    animation-delay: 300ms;
}

.nav-page4 {
    bottom: 1.5%;
    transform: translateX(8svh);
    padding: 7svh;
    animation-delay: 500ms;
}

.shining-button {
    position: absolute;
    left: 50%;
    background-color: #4caf4f1e;
    /* Button color */
    border: none;
    color: white;
    /* Text color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    /* Makes the button circular */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
        /* Outer glow */
        inset 0 0 10px rgba(255, 255, 255, 0.5);
    /* Inner glow */
    transition: all 0.3s ease;
    animation: glow 1000ms infinite alternate;
}

.shining-button:hover {
    background-color: black;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #FFEB3B,
            /* Lighter yellow for glow */
            0 0 10px #FFEB3B;
    }

    to {
        box-shadow: 0 0 20px #FFEB3B,
            /* Lighter yellow for glow */
            0 0 25px #FFEB3B;
    }
}


.landing-logo {
    animation: rotate-mini 2000ms ease-in;
    transition: all 500ms ease;
    transform-origin: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    box-sizing: content-box;
    padding: 4rem;
    border-radius: 3px;
    z-index: 5;
    margin-top: auto;
}

.fixed {
    padding: 1rem;
    background-color: var(--colorOne);
}

.bg-letters {
    fill: var(--colorOne);
}


.logo-fullName,
.initial-M,
.initial-T {
    fill: var(--colorTwo);
}

.initial-T {
    animation: showLetter 2000ms ease-out;
}

.initial-M {
    animation: slideLetter 2000ms ease-out;
}


@keyframes rotate-mini {
    0% {
        margin: 3.5;
        padding: 5pt;
        transform: rotate(-90deg);
    }

    50% {
        -webkit-transform: scale(3);
        scale: 2;
        transform: rotate(-90deg);
    }

    100% {
        -webkit-transform: scale(1);
        scale: 1;
    }
}

@keyframes showLetter {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes slideLetter {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}