.landing-main {
    height: 100svh;
    width: 100svw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.landing-logo{
    animation: rotate-mini 2000ms ease-in;
    transition: all 500ms ease;
    transform-origin: center;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--colorOne);
    transition: all 500ms ease;
    scale: 0.5;
    border-radius: 3px;
}

.bg-letters {
    fill: var(--colorOne);
}


.logo-fullName,
.initial-M,
.initial-T {
    fill: var(--colorTwo);
}

.initial-T {
    animation: showLetter 2000ms ease-out;
}

.initial-M {
    animation: slideLetter 2000ms ease-out;
}


@keyframes rotate-mini {
    0% {
        margin: 3.5;
        padding: 5pt;
        transform: rotate(-90deg);
    }
    50% {
        -webkit-transform: scale(3);
        scale: 3;
        transform: rotate(-90deg);
    }
    100% {
        -webkit-transform: scale(1);
        scale: 1;
    }
}

@keyframes showLetter {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes slideLetter {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}
