.landing-main {
    height: 100svh;
    width: 100svw;
    background-color: var(--colorOne);
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-logo{
    animation: rotate-mini 2s ease-in;
    transform-origin: center;
}

.bg-letters {
    fill: var(--colorOne);
}


.logo-fullName{
    /* fill: red; */
}

.initial-T {
    animation: showLetter 2s ease-out;
}

.initial-M {
    animation: slideLetter 2s ease-out;
}


@keyframes rotate-mini {
    0% {
        margin: 4;
        padding: 5pt;
        transform: rotate(-90deg);
    }
    50% {
        scale: 4;
        transform: rotate(-90deg);
    }
    100% {
        scale: 1;
    }
}

@keyframes showLetter {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes slideLetter {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}
