.modal {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.654);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    height: 30%;
    width: 30%;
    background-color: var(--colorOne);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--colorTwo);
    padding: 1rem;
    text-align: center;
}

.btn-conf-del {
    background-color:var(--colorOne);
    color:var(--colorTwo);
    padding: 5px;
  }
  
.question-box {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}