.modal {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.654);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popUp 500ms ease-out;
}

.modal-window {
    background-color: var(--colorOne);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--colorTwo);
    padding: 1rem;
    text-align: center;
}
.modal-window > button {
    color: var(--colorTwo);
    background-color: var(--colorOne);
}

.question-box {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes popUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}