.projects-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    font-size: xx-large;
    background-color: var(--colorOne);
    height: 100svh;
    width: 100svw;
    border: 1px solid var(--colorTwo);
}

.cube-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-nav > div {
    display: flex;
    flex-direction: column;
}

.project-nav > div > button {
    border: 1px solid var(--colorTwo);
    border-radius: 5px;
    padding: 5px;
    color: var(--colorTwo);
    font-size: 10px;
    margin: 5px;
}

@media screen and (max-width: 400px ) {
    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .project-nav > div {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }
}