.projects-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    font-size: xx-large;
    height: 100svh;
    width: 100svw;
    /* background: linear-gradient(to bottom right, #2b3a57, #ffa382); */
    /* background: linear-gradient(to bottom, #1f2c37 40%, rgba(238, 200, 175, 255)); */
    /* background: linear-gradient(45deg, 
                            #1f2c37, 
                            rgba(238, 200, 175, 0.8) 50%, 
                            #1f2c37); */
    background: linear-gradient(0deg, #38576c 40%, #21303d 90%);

}

.cube-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-nav>div {
    display: flex;
    flex-direction: column;
}

.button-label {
    display: flex;
}

.button-text {
    padding: 10px 20px;
    background-color: var(--colorOne);
    border: none;
    border-radius: 5px;
    color: var(--colorTwo);
    font-size: 16px;
    cursor: pointer;
    margin: 2px;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.visually-hidden {
    display: none;
}

.button-label input:checked+.button-text {
    background-color: var(--colorTwo);
    color: var(--colorOne);
    transform: scale(1.05);
    border: 1px solid var(--colorOne);
}

.button-text:hover {
    background-color: var(--colorTwo);
    color: var(--colorOne);
    transform: scale(1.05);
}


@media screen and (max-width: 450px) {
    .projects-container {
        grid-template-rows: 1fr 1fr 1fr;
        gap: 5svh;
    }

    .project-nav {
        grid-row: 3;
    }

    .cube-wrapper {
        grid-row: 2;
    }

    .project-nav>div {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }
}