.btn-side {
    box-sizing: border-box;
    height: 5rem;
    width: 1rem;
    background-color: var(--colorTwo);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    color: var(--colorOne);
}

.enlarge {
    transform: translateX(100%);
    animation: slide-out 300ms ease-out;
}

.side-nav-container {
    position: fixed;
    animation: slide-in 2.2s ease-in;
}

.left {
    left: 0;
    top: 45svh;
    rotate: 180deg;
}

.right {
    right: 0;
    top: 45svh;
}

.top {
    top: -2rem;
    left: calc(100svw/2 - 0.5rem);
    rotate: -90deg;
}

.bottom {
    bottom: -2rem;
    left: calc(100svw/2 - 0.5rem);
    rotate: 90deg;
}



@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    90% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }  
}
@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }  
}



