.testDiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    background-color: brown;
    z-index: -100;
}
.testDiv1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    background-color: pink;
    z-index: -100;
}
.testDiv2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    background-color: green;
    z-index: -100;
}


.move-out-right {
    animation: move-out-right 1s ease;
    z-index: -100;
}
.move-in-right {
    animation: move-in-right 1s ease;
    z-index: 0;
}

.move-out-top {
    animation: move-out-top 1s ease;
    z-index: -100;
}
.move-in-top {
    animation: move-in-top 1s ease;
    z-index: 0;
}

.move-out-bottom {
    animation: move-out-bottom 1s ease;
    z-index: -100;
}
.move-in-bottom {
    animation: move-in-bottom 1s ease;
    z-index: 0;
}

.move-out-left {
    animation: move-out-left 1s ease;
    z-index: -100;
}
.move-in-left {
    animation: move-in-left 1s ease;
    z-index: 0;
}


@keyframes move-in-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes move-out-right {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}
@keyframes move-in-top {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes move-out-top {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}
@keyframes move-in-bottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes move-out-bottom {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}
@keyframes move-in-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes move-out-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}